<!DOCTYPE html>
<html>
  <head>
    <title>Hailo chat</title>
    <script src="http://www.google.com/jsapi"></script>
    <script>
      // Load jQuery
      google.load("jquery", "1");
    </script>
  </head>
  <body>
    Hello world
  </body>
</html>

