<!DOCTYPE html>
<html>
  <head>
    <title>[% c.config.title || "Hailo Chat" %]</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/hailo.js"></script>
    <script type="text/javascript" src="/static/js/chat.js"></script>
  </head>
  <body>
    <div id="page-wrap">
      <h2>[% c.config.heading || "Hailo Chat" %]</h2>
      
      <div id="chat-wrap">
        <div id="chat-area"></div>
      </div>
      
      <form id="send-message-area">
        <p>[% c.config.feed || "Feed Hailo" %]:</p>
        <textarea id="reply" maxlength="500"></textarea>
      </form>
      
    </div>
  </body>
</html>
